[submodule "repo-ref/mermaid"]
	path = repo-ref/mermaid
	url = https://github.com/mermaid-js/mermaid.git

[submodule "repo-ref/dompurify"]
	path = repo-ref/dompurify
	url = https://github.com/cure53/DOMPurify.git

[submodule "repo-ref/sanitize-url"]
	path = repo-ref/sanitize-url
	url = https://github.com/braintree/sanitize-url.git

