.edgeLabel[data-look="neo"]{background-color:rgba(232,232,232, 0.8);text-align:center;}
.edgeLabel .label rect{fill:#ECECFF;}
.labelBkg{background:#ECECFF;}
.edgeLabel .label span{background:#ECECFF;}
