name: CI

on:
  push:
    branches:
      - master
  pull_request:

concurrency:
  group: ci-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-test:
    name: build-test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-22.04
          - macos-14
          - windows-2022

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Install cargo-nextest
        uses: taiki-e/install-action@nextest

      - name: Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Format
        if: matrix.os == 'ubuntu-22.04'
        run: cargo fmt --all -- --check

      - name: Clippy
        if: matrix.os == 'ubuntu-22.04'
        run: cargo clippy --workspace --all-targets

      - name: Test (nextest)
        run: cargo nextest run --cargo-quiet

      - name: Build (release)
        run: cargo build --release --locked -p merman-cli

      - name: Override inventory
        if: matrix.os == 'ubuntu-22.04'
        run: cargo run --release -p xtask -- report-overrides

      - name: SVG DOM parity-root
        if: matrix.os == 'ubuntu-22.04'
        run: cargo run --release -p xtask -- compare-all-svgs --check-dom --dom-mode parity-root --dom-decimals 3 --flowchart-text-measurer vendored
