name: Release

on:
  push:
    tags:
      - "v*.*.*"
      - "*.*.*"

permissions:
  contents: write

jobs:
  build-artifacts:
    name: build (${{ matrix.target }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
          - os: windows-2022
            target: x86_64-pc-windows-msvc
          - os: macos-13
            target: x86_64-apple-darwin
          - os: macos-14
            target: aarch64-apple-darwin

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Rust cache
        uses: Swatinem/rust-cache@v2

      - name: Build (release)
        run: cargo build --release --locked -p merman-cli --target ${{ matrix.target }}

      - name: Package
        shell: pwsh
        run: |
          ./tools/ci/package-cli.ps1 `
            -PackageName "merman-cli" `
            -Target "${{ matrix.target }}" `
            -Tag "${{ github.ref_name }}"

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: merman-cli-${{ matrix.target }}
          path: dist/*
          if-no-files-found: error

  github-release:
    name: GitHub Release
    runs-on: ubuntu-22.04
    needs: build-artifacts
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: merman-cli-*
          path: dist
          merge-multiple: true

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
          generate_release_notes: true

